/*Testing autoprefixer */
.autoprefixer {
    display: flex;
}


/*Testing cssnext */
.cssnext {
    background: color(red alpha(-10%));
}

/*Testing precss */
.precss {
    @if 3 < 5 {
    backgrond: green;
 }
    @else {
    background: blue;
 }
}
/* Testing Lost */
div {
    lost-column: 1/3;
}