/* Testing autoprefixer */

.autoprefixer {
    display: flex;
}

/* Testing cssnext */

.cssnext {
    background: color(red alpha(-10%));
}

/* Testing precss */

.precss {
@if 3 < 5 {
    background: green;
}
@else {
    background: blue;
}
}

/* lost grid test */
div {
    lost-column: 1/3;
}

.gray {
    background: color(red alpha(-10%));
}











